* {
	font-family: Solway;
}

.btn,
.card {
	border-radius: 20px;
}

.navbar {
	background-color: #b1b2b5;
}

.nav-title {
	color: #09558b;
	font-size: 40px;
}

nav .btn-secondary {
	background-color: #b1b2b5;
	border: none;
	color: black;
}

nav .btn-primary {
	background-color: #09558b;
	color: white;
	border-color: #09558b;
}

.container {
	padding-top: 36px;
	padding-bottom: 36px;
}

.blok1 {
	background-color: #09558b
}

.blok2 {
	background-color: white
}

.blok3 {
	background-color: #e6f2fd
}

.blok4 {
	background-color: #d7d7d7
}

h1,
h2,
h3 {
	font-weight: bold;
}

h1 {
	font-size: 50px;
	color: white;
}

.blok1 p {
	color: white;
	font-size: 20px;
}

h2 {
	font-size: 30px;
	padding-bottom: 12px;
}

h3 {
	font-size: 20px;
}

.icon-three {
	font-size: 100px;
	color: #09558b
}
