body {
	background-color: whitesmoke;
}

h1 {
	color: black;
	margin-top: 50px;
}

h3,
h4 {
	color: #181E4C
}

p {
	color: indigo;
}


/* Nav bar */
nav ul {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid cyan;
	background-color: #333333;
	display: flex;
	justify-content: center;
}

nav ul li {
	border-right: 1px solid #bbbbbb
}

nav ul li:last-child {
	border-right: none;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a.active {
	background-color: indigo;
	color: white;
}

nav li a:hover:not(.active),
.dropdown:hover:not(.active) .dropbtn,
.dropdown-content a:hover:not(.active) {
	background-color: skyblue;
	color: black;
	transition: .6s;
}

nav li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #333333;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}


/* Tabs */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: center;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: indigo;
	color: white;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	position: relative;
	animation: animateright 0.6s
}

@keyframes animateright {
	from {
		right: -300px;
		opacity: 0
	}

	to {
		right: 0;
		opacity: 1
	}
}

/* Footer */
footer {
	text-align: center;
	padding: 3px;
	border: 1px solid cyan;
}
