.sec-purp {
	background-color: #4b00824d;
}

.sec-purp .btn-primary {
	background-color: #4b0082;
	border-color: #4b0082;
}

.sec-purp .btn-primary:hover {
	background-color: #4b00824d;
	border-color: #4b0082;
	color: black;
	transition: .6s;
}

.sec-blue {
	background-color: #87ceeb4d;
}
